.main{
 margin-top: 50px;
 @media screen and (max-width:1100px) {
  margin-top: 20px;
  }
}


.head{
 font-size: 40px;
 text-align: center;
 margin-bottom: 50px;
 text-decoration: underline;
 @media screen and (max-width:1100px) {
 font-size: 30px;
 }
}


.app__about{
 display: flex;
@media screen and (max-width:1100px) {
 display: flex;
 flex-direction: column;
}
}

.image{
 width: 40%;
 margin-left: 75px;
 @media screen and (max-width:1100px) {
  width: 100%;
  margin-left: 0;
 }
}
.image>img{
 width: 330px;
 height: 330px;
 border-radius: 25px;
 display: block;
 margin: auto;
 @media screen and (max-width:1100px) {
 width: 270px;
 height: 270px;
 }
}

.text{
 width: 50%;
 padding-top: 20px;
 @media screen and (max-width:1100px) {
  width: 100%;
 }
}
.text>h1{
 @media screen and (max-width:1100px) {
 text-align: center;

 }
}
.text>p{
width: 90%;
font-size: 17px;
margin-top: 20px;
@media screen and (max-width:1100px) {
 text-align: center;
 margin: auto;
 margin-top: 20px;
}
}